<!DOCTYPE html>
<html>
<head>
  <title>Event Details</title>
</head>
<body>
  <h1>Event update</h1>
  <p>Dear user</p>
  <p>This is a mail regarding event: <%= @title %>.</p>
  <p>Thank you!</p>
</body>
</html>